.todo-nav {
  margin-top: 10px;
  border-bottom: 1px solid #535353;
}

.todo-list {
  margin: 0;
}

.todo-list .todo-item {
  position: relative;
  padding: 15px;
  border-radius: 0;
  border-bottom: 1px solid #535353;
}

.card {
  padding: 25px;
  margin-bottom: 20px;
  height: 72vh;
  max-height: calc(100vh - 100px); 
  overflow-y: auto; 
  border: initial;
  background: #2b3035;
  border-radius: calc(1em - 1px);
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
}

.delete-todo-item {
  position: absolute;
  top: 50%;
  right: 10px;
  background-color: transparent;
  color: red;
  border: none;
  width: 20px;
  font-size: 20px;
  cursor: pointer;
  transform: translateY(-50%);
}

.delete-todo-item:hover {
  color: white;
  background-color: transparent;
}

input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.cbx {
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  margin-right: 10px;
  
}
.cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #9098a9;
  transition: all 0.2s ease;
}
.cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #506eec;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}
.cbx span:last-child {
  padding-left: 8px;
}
.cbx:hover span:first-child {
  border-color: #506eec;
}

.inp-cbx:checked + .cbx span:first-child {
  background: #506eec;
  border-color: #506eec;
  animation: wave-46 0.4s ease;
}
.inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}

.task-name.completed {
  text-decoration: line-through;
}

.icon {
  height: 25px;
  filter: invert(100%) ; 
}

.active-link {
  font-weight: bold; 
  color: white;
}

.card-header{
  background: #2b3035;
}

.navbar .navbar-nav .nav-item .nav-link {
  font-weight: bold; /* Make the text bold */
  padding: 0.5rem 1rem; /* Adjust padding as needed */
  border-radius: 0.25rem; /* Add a bit of border-radius for rounded edges */
  transition: background-color 0.3s ease; /* Add a smooth transition effect for background color */
}

/* Style the buttons on hover */
.navbar .navbar-nav .nav-item .nav-link:hover {
  background-color: #4e4e4e; /* Change the background color on hover */
  color: #FFFFFF; /* Change the text color on hover */
}


.btn-primary {
  background-color: #535353;
  border-color: #535353; 
  color: #fff;
  font-weight: bold;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease; 
}

/* Style Bootstrap primary buttons on hover */
.btn-primary:hover {
  background-color: #3b64e6;
  border-color: #3b64e6;
  color: #fff; 
}

.btn-primary:active, .btn-primary:focus {
  background-color: #2b4dbb; 
  border-color: #2b4dbb; 
}
